{% extends 'general/base.html' %}
{% load static %}

{% block content %}
    
    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>We serve the love of Kerala's spices.</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">Why <span class="orange-text">Keralaspices</span></h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<h3>Home Delivery</h3>
										<p>At Keralaspices, We offer a seamless and reliable home delivery service that
											brings the flavors of Kerala right to your doorstep in New Zealand.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<h3>Best Price</h3>
										<p>We believe that everyone should have access to the vibrant flavors of Kerala
											without breaking the bank, so we commited to bring you the best price.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-phone"></i>
									</div>
									<div class="content">
										<h3>Customer Support</h3>
										<p>We believe in the importance of prompt and friendly customer service, and we
											are committed to being there for you every step of the way.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<h3>Quick Refund</h3>
										<p>We know that sometimes you may need a refund. That's why we have our 'Quick
											Refund' policy for a smooth process.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- shop banner -->
	<section class="shop-banner">
		<div class="container">
			<h3> Bringing Kerala <br> Flavors to <span class="orange-text">New Zealand...</span></h3>
			<div class="sale-percent"><span>Join Us <br> on This</span>Flavorful <span> Journey</span></div>
			<a href="{% url 'shop' %}" class="cart-btn btn-lg">Shop Now</a>
		</div>
	</section>
	<!-- end shop banner -->

	<!-- team section -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Our <span class="orange-text">Journey</span></h3>
						<p>Keralaspices is a manifestation of our deep-rooted passion for sharing the rich tapestry of
							Kerala's
							offerings with the Malayali community in New Zealand and all those who have a taste for
							Kerala's aromatic treasures.
							Our journey began with a simple yet profound idea: to offer a slice of home to our fellow
							Malayalis and
							introduce the delightful flavors of Kerala to our Kiwi friends.</p>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-1"></div>
						<h4>Jimmy Doe <span>Farmer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4>Marry Doe <span>Farmer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4>Simon Joe <span>Farmer</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<!-- end team section -->


	<div class="testimonail-section mt-100 mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar1.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Hemand S Prabhakaren <span></span></h3>
								<p class="testimonial-body">
									"I couldn't be happier with my shopping experience at Keralaspices! The website is
									user-friendly, and the selection of Kerala spices and products is fantastic. I
									received my order promptly, and the quality of the items exceeded my expectations.
									Will definitely be ordering again!"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar2.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Ajith<span></span></h3>
								<p class="testimonial-body">
									"As a Malayali living in New Zealand, finding authentic Kerala spices was a real
									treat. Keralaspices delivered on its promise of authenticity. The curry powder
									tasted just like home! The customer support team was also very helpful in answering
									my questions."
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar3.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Jacob Sikim <span></span></h3>
								<p class="testimonial-body">
									"I had a minor issue with my order, and the customer support team at Keralaspices
									was incredible. They resolved the problem quickly and efficiently, and their
									friendly approach made me feel valued as a customer. Great products and even better
									service!"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar4.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Emly John <span></span></h3>
								<p class="testimonial-body">
									Overall, my experience with Keralaspices was positive. The spices were of good
									quality, and the website was easy to navigate. However, I would suggest adding more
									variety to the kitchen utensils section. It would make the shopping experience even
									better."
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<br>
<br>


{% endblock %}